<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="admin">
        <h1>Admin control Pannel</h1>
        <div class="button">
            <a href="/registerstudent">
                <button>Register Student</button>
            </a>
            <br><br>
            <a href="/registerstudent">
                <button>Register Teacher</button>
            </a>
            <br><br>
            <a href="/registerstudent">
                <button>Register Other Employs</button>
            </a>
        </div>
    </div>
</body>
</html>