<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Teacher</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div>
        <form action="registerteacher" method="post">
            <label for="name">Enter Name : </label>
            <input type="text" id="name" required>
            <br><br>
            <label for="name">Enter ID Number : </label>
            <input type="number" id="idnumber" required>
            <br><br>
            <label for="subject">Enter Subject : </label>
            <input type="text" id="subject" required>
            <br><br>
            <button>Register</button>
        </form>
    </div>
</body>
</html>